extends master

block content
  a.btn.btn-primary(href='/admin/article') Create Article
  article
    h1 
      a(href='/blog/article/ABCDEF') Blog Article Title
    p by Jeffrey Smith
    p This is a preview of the article. This is a preview of the article. This is a preview of the article. This is a preview of the article. This is a preview of the article. This is a preview of the article. This is a preview of the article. This is a preview of the article. This is a preview of the article. This is a preview of the article. This is a preview of the article.
    if session && session.user && session.user.admin
      a.btn(href='/admin/article/ABCDEF') Edit
      a.btn.btn-danger(href='#') Remove
  article
    h1 
      a(href='/blog/article/ABCDEF') Blog Article Title
    p by Jeffrey Smith
    p This is a preview of the article. This is a preview of the article. This is a preview of the article. This is a preview of the article. This is a preview of the article. This is a preview of the article. This is a preview of the article. This is a preview of the article. This is a preview of the article. This is a preview of the article. This is a preview of the article.
    if session && session.user && session.user.admin
      a.btn(href='/admin/article/ABCDEF') Edit
      a.btn.btn-danger(href='#') Remove
