extends master

block content
  form.form(action='/admin/article', method='POST')
    article
      if article
        input(type='text', name='id', readonly='readonly', value=(article ? article.id : ''))
      h1
        input(type='text', name='title', placeholder='Article Title', value=(article ? article.title : ''))
      p
        textarea(name='content', rows='20')
          if article
            | #{article.content}
      p
        input(id='publish', type='checkbox', name='publish', checked=(article && article.publish ? true : false))
        label.label(for='publish') Publish
      input.btn(type='submit', value='Save')
