extends master

block content
  table.table.table-striped
    thead
      th ID
      th Username
      th Email
      th
    tbody
      tr
        td 1
        td test
        td test@test.com
        td
          a.btn(href='/admin/user/ABCDEF') Edit
          a.btn.btn-danger(href='#') Remove
      tr
        td 1
        td test
        td test@test.com
        td
          a.btn(href='/admin/user/ABCDEF') Edit
          a.btn.btn-danger(href='#') Remove
