extends master

block content
  a.btn.btn-primary(href='/admin/user') Create User
  table.table.table-striped
    thead
      th ID
      th Username
      th Email
      th
    tbody
      if users
        each user in users
          tr
            td #{user.id}
            td #{user.username}
            td #{user.email}
            td
              a.btn(href='/admin/user/#{user.id}') Edit
              a.btn.btn-danger(href='#') Remove
      else
        h1 There are no users :(.
