extends master

block content
  form.form
    .form-group
      .col-sm-3
        label.label(for='id') ID
      .col-sm-9
        input(id='type', type='text', name='id', readonly='readonly', value=(user ? user.id : ''))
    .form-group
      .col-sm-3
        label.label(for='username') Username
      .col-sm-9
        input(id='type', type='text', name='username', value=(user ? user.username : ''))
    .form-group
      .col-sm-3
        label.label(for='email') Email
      .col-sm-9
        input(id='type', type='text', name='email', value=(user ? user.email : ''))
    .form-group
      .col-sm-12
        input.btn.btn-primary(type='submit', value='Save')
