extends master

block body
  .container
    article
      h1 Blog Article Title
      p by Jeffrey Smith on February 3, 2014
      p This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content.
      img(src='http://i.imgur.com/g0k1zMa.jpg')
      p This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content.
