extends master

block body
  .container
    h1 Blog Article Title
    article This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content. This is article content.
