extends master

block body
  .container
    article
      h1 
        a(href='#') Blog Article Title
      p by Jeffrey Smith
      p This is a preview of the article. This is a preview of the article. This is a preview of the article. This is a preview of the article. This is a preview of the article. This is a preview of the article. This is a preview of the article. This is a preview of the article. This is a preview of the article. This is a preview of the article. This is a preview of the article.
    article
      h1 
        a(href='#') Blog Article Title
      p by Jeffrey Smith
      p This is a preview of the article. This is a preview of the article. This is a preview of the article. This is a preview of the article. This is a preview of the article. This is a preview of the article. This is a preview of the article. This is a preview of the article. This is a preview of the article. This is a preview of the article. This is a preview of the article.
    article
      h1 
        a(href='#') Blog Article Title
      p by Jeffrey Smith
      p This is a preview of the article. This is a preview of the article. This is a preview of the article. This is a preview of the article. This is a preview of the article. This is a preview of the article. This is a preview of the article. This is a preview of the article. This is a preview of the article. This is a preview of the article. This is a preview of the article.
