extends master

block header
  .hero
    include partials/header
    .hero-body 
      h1 Modern Web Applications are Born Here
      a.btn.btn-primary(href='#') Learn More

block body
  .featurette.featurette-dark.inverse(id='strengths')
    .container
      .row
        .col-md-4
          h2 Server Management
          p Blah blah blah blah blah blah. Blah blah blah blah blah blah. Blah blah blah blah blah blah. Blah blah blah blah blah blah. Blah blah blah blah blah blah. Blah blah blah blah blah blah. Blah blah blah blah blah blah.
        .col-md-4
          h2 DB Architecture
          p Blah blah blah blah blah blah. Blah blah blah blah blah blah. Blah blah blah blah blah blah. Blah blah blah blah blah blah. Blah blah blah blah blah blah. Blah blah blah blah blah blah. Blah blah blah blah blah blah.
        .col-md-4
          h2 Dynamic Web Apps
          p Blah blah blah blah blah blah. Blah blah blah blah blah blah. Blah blah blah blah blah blah. Blah blah blah blah blah blah. Blah blah blah blah blah blah. Blah blah blah blah blah blah. Blah blah blah blah blah blah.

  .featurette(id='contactus')
    .container
      center
        h1 Want more details? Please fill out an inquiry below.
      form.form.form-min
        .form-group
          .col-sm-12
            input.text-input(type='text', name='name', placeholder='Name')
        .form-group
          .col-sm-6
            input.text-input(type='tel', name='phone', placeholder='Phone')
          .col-sm-6
            input.text-input(type='email', name='email', placeholder='Email')
        .form-group
          .col-sm-12
            label(for='description') How can we help?
            textarea.text-input(id='description', name='description', rows='5')
        .form-group
          .col-sm-12
              input.btn(type='submit', value='Submit')
