.hero {
  background-image: url('../img/wg_blurred_backgrounds_16.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.hero-body {
  font-size: 140%;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  padding: 80px 0px 100px;
}
